
/*** Fonts ***/

@font-face{
    font-family: "SourceSans";
    src: url(fonts/SourceSansPro-Regular.otf);
    font-style: normal;
}
@font-face{
    font-family: "SpinCycle";
    src: url(fonts/spincycle_ot.otf);
    font-style: normal;
}
@font-face{
    font-family: 'holbertonIcons';
    src: url(fonts/holberton_school-icon.ttf);
    font-style: normal;
}

/*** Root variables ***/

:root{
    --flex-display: flex;
    --flex-wrap: wrap;
    --flex-nowrap: nowrap;
    --flex-row: row;
    --flex-column: column;
    --flex-between: space-between;
    --flex-evenly: space-evenly;
    --flex-around: space-around;
    --color-white: #ffffff;
    --color-white_two: #eeeded;
    --color-global: #FF6565;
    --color-black: #000000;
    --color-button: #f75555;
    --color-transparent: transparent;
    --font-source_sans: SourceSans;
    --font-holberton_icons: holbertonIcons;
    --title-h1-size: 250%;
    --regular-p-size: 1rem;
}

/*** Global styles ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.global_button{
    border-radius: 20px 20px 20px 20px;
    padding: 12px 25px 12px 25px;
    background-color: var(--color-button);
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-source_sans);
}
a:hover, a:active{
    color: var(--color-global);
}
.global_button:hover, .global_button:active,
button:hover, button:active{
    color: var(--color-white);
    opacity: 0.9;
}
.icons{
    color: var(--color-global);
    font-size: 10rem;
    font-family: var(--font-holberton_icons);
}

/*** First section ***/

.first_section{
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: auto;
    min-height: 60vh;
    display: var(--flex-display);
    flex-flow: var(--flex-column) var(--flex-nowrap);
    justify-content: var(--flex-between);
    align-items: center;
}

/* Nav styles 
    =============================== */
.nav {
    min-height: 70px;
    max-height: auto;
    display: var(--flex-display);
    flex-flow: var(--flex-row) var(--flex-wrap);
    justify-content: var(--flex-between);
    align-items: center;
    width: 100%;
}
.nav label, .nav input{
    position: absolute;
    display: none;
    justify-self: start;
    top: 5.7%;
    left: 5%;
}
.nav .logo{
    width: 40%;
    height: 70px;
    display: var(--flex-display);
    justify-content: center;
    align-items: center;
}
.nav .logo img{
    width: 200px;
    height: 40px;
}
.nav ul{
    width: 40%;
    list-style: none;
    display: var(--flex-display);
    flex-flow: var(--flex-row) var(--flex-nowrap);
    justify-content: var(--flex-evenly);
}
.nav ul a{
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-source_sans);
    font-size: 15px;
}
.nav ul a:hover, .nav ul a:active{
    color: var(--color-global);
}
.nav #toggle {
    display: none;
}
.navicon{
    background-color:  var(--color-white);
    display: block;
    width: 1.5rem;
    height: .2rem;
    position: relative;
    transition: background .2s ease-out;
}
.navicon::after, .navicon::before{
    content: "";
    display: block;
    width: 130%;
    height: 90%;
    position: absolute;
    background: var(--color-white);
    transition: all .2s ease-out;
}
.navicon::before{
    top: .7rem;
}
.navicon::after{
    top: -.7rem;
}
#toggle:checked + label .navicon{
    background-color: var(--color-transparent) ;
  }
#toggle:checked + label .navicon::before{
    top: 0rem;
    transform: rotate(-45deg);
  }
#toggle:checked + label .navicon::after{
    top: 0rem;
    transform: rotate(45deg);
}

/* Content header styles
    =============================== */
.content_header{
    display: var(--flex-display);
    flex-flow: var(--flex-column) var(--flex-wrap);
    align-items: center;
    width: 70%;
    margin-top: 30%;
}
.content_header h1{
    font-size: var(--title-h1-size);
    color: var(--color-white);
    font-family: var(--font-source_sans);
    text-align: center;
}
.content_header p{
    color: var(--color-white);
    font-size: var(--regular-p-size);
    font-family: var(--font-source_sans);
}
.content_header h1 + p{
    margin-bottom: 50px;
    text-align: center;
}
.content_header a + p{
    margin: 70px 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/*** What we do section ***/

.what_we_do{
    display: var(--flex-display);
    flex-flow: var(--flex-column) var(--flex-wrap);
    width: 100%;
}
.what_we_do .intro{
    display: var(--flex-display);
    flex-flow: var(--flex-column) var(--flex-wrap);
    align-items: center;
    width: 100%;
}
.what_we_do .intro h1{
    font-size: var(--title-h1-size);
    font-family: var(--font-source_sans);
    text-align: center;
    margin-top: 100px;
}
.what_we_do .intro p{
    margin-top: 4%;
    font-family: var(--font-source_sans);
    width: 50%;
    text-align: center;
}
.what_we_do .cards{
    display: var(--flex-display);
    flex-flow: var(--flex-row) var(--flex-wrap);
    justify-content: var(--flex-evenly);
    margin-top: 7%;
    margin-bottom: 7%;
    width: 100%;
}
.what_we_do .cards .target{
    display: var(--flex-display);
    flex-flow: var(--flex-column) var(--flex-wrap);
    justify-content: var(--flex-evenly);
    align-items: center;
    width: 200px;
}
.what_we_do .cards .target h2{
    font-family: var(--font-source_sans);
    margin-top: 10px 8px;
}
.what_we_do .cards .target h2 + p{
    text-align: center;
    line-height: 35px;
    margin-top: 10%;
}

/*** Our results section ***/

.results_section{
    background-image: url('images/headphones_hero_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: auto;
    min-height: 60vh;
    color: var(--color-white);
}
.results_section .intro p{
    color: var(--color-white_two);
}
.results_section .pentagon{
    background-image: url('images/pentagone.png');
    background-size: 180px 170px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    display: var(--flex-display);
    flex-flow: var(--flex-column) var(--flex-wrap);
    justify-content: center;
    align-items: center;
}
.results_section .pentagon h1{
    font-family: var(--font-source_sans);
    font-size: var(--title-h1-size);
}
.results_section .pentagon p{
    font-family: var(--font-source_sans);
}

/*** Media queries - 767px ***/

@media only screen and (max-width: 767px){
    
    /** First section: 767px **/

    /* Nav mediea query styles 
        =============================== */
    .nav label, .nav input{
        display: block;
    }
    .nav .logo{
        width: 100%;
        height: 80px;
    }
    .nav .menu{
        display: none;
    }
    #toggle:checked + label + .menu{
        width: 100%;
        display: var(--flex-display);
        flex-flow: var(--flex-column) var(--flex-wrap);
        align-items: center;
    }
    #toggle:checked + label + .menu li{
        height: 50px;
        display: var(--flex-display);
        align-items: center;
    }

    /* Content header media quiery styles 
        =============================== */
    .content_header h1{
        font-size: 2em;
    }
    .content_header h1 + p{
        margin-top: 30px;
    }
    .content_header a + p{
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*** Media queries - 480px ***/

@media only screen and (max-width: 480px) {
    
    /** First section: 480px **/

    /* Nav mediea query styles 
        =============================== */
    .nav .logo img{
        width: 50%;
        height: 60%;
    }

    /* Content header media quiery styles 
        =============================== */
    .content_header{
        width: 90%;
    }
    .content_header a + p{
        width: 80%;
    }

    /** What we do section: 480px **/

    .what_we_do .intro h1{
        margin-top: 40%;
    }
    .what_we_do .intro p{
        margin-top: 10%;
        width: 80%;
    }
    .what_we_do .cards .target{
        margin-top: 20%;
    }
    .what_we_do .cards:last-child{
        margin-bottom: 40%;
    }

    /** Our results section: 480px **/

    .results_section .intro h1{
        font-size: 2rem;
    }
    .results_section .cards .pentagon{
        margin-top: 7%;
    }
}
